 <div class="container">
	<div class="row">
		<div class="col-md-12">
			<ul class="nav">
				<li class="nav-item">
				<button class="btn btn-success"><a class="nav-link active" href="../views/index.handlebars">Home</a></button><br>
				</li>
			</ul>
		</div>
	</div>
  {{!-- navbar ending. first row-12 ending --}}
	<div class="row">
		<div class="col-md-8">
			<div class="jumbotron">
				<div id="saved-articles">
                                {{!-- add the return value for article field saved is true --}}
                                {{#each scrapes}}
                                <ul>
                                    <li>
                                        <a href="{{link}}">{{title}}</a> <br />
                                        <p> {{author}} </p> <br />
                                        <img src="{{photo}}" />
                                    </li>
                                </ul>

                                <br />
                                {{/each}}
                               
                            </div>
          {{!-- saved articles will appear here --}}
		</div>
	</div>
</div>

















</head>

<body>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="jumbotron">
                    <ul class="nav">
                        <li class="nav-item">
                            <button type="button" class="btn btn-warning">
                                <a href="/">Home</a>
                            </button> <br>
                        </li>
                        <li class="nav-item">

                            <h1> SAVED ARTICLES</h1>

                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <div class="card">

                    <div class="card-body">
                        <p class="card-text">
                            
                        </p>
                    </div>
                </div>
            </div>

        </div>


    </div>

</body>

</html>